{{ define "header" }}
<div class="header">
    <a href="/" class="logo">Logo Go Server - UNAUTHORIZED</a>
    <div class="header-right">
        <a href="/login">Sign in</a>
        <a href="/register">Registration</a>
        <a href="/">Sign out</a>
    </div>
</div>
{{ end }}
