{{ define "header" }}
<div class="header">
    <a href="/" class="logo">Logo Go Server - SIGN IN</a>
    <div class="header-right">
        <a href="/register">Registration</a>
    </div>
</div>
{{ end }}
