{{ define "main" }}
<div class="main">
    <p>
        <form action="/authorized">
            <h3>Login here: </h3>
            <div>Login: <label for="login"><input name="login" type="text"></label></div>
            <div>Password: <label for="password"><input name="password" type="password"></label></div>
            <div><input type="submit" value="Submit"></div>
        </form>
    </p>    
</div>
{{ end }}