{{ define "header" }}
<div class="header">
        <a href="/" class="logo">Logo Go Server - AUTHORIZED</a>
        <div class="header-right">
            <a href="/">Sign out</a>
        </div>
</div>
{{ end }}