{{ define "header" }}
<div class="header">
    <a href="/" class="logo">Logo Go Server - REGISTRATION</a>
    <div class="header-right">
        <a href="/login">Sign in</a>
    </div>
</div>
{{ end }}
