{{ define "main" }}
<div class="main">
    <p>
        <form action="/registered">
            <h3>Login here: </h3>
            <div>Name: <label for="name"><input name="name" type="text"></label></div>
            <div>Age: <label for="age"><input name="age" type="text"></label></div>
            <div>Login: <label for="login"><input name="login" type="text" {{if .EmptyFieldErr}}style="border-color: red"{{end}}></label></div>
            <div>Password: <label for="password"><input name="password" type="password" {{if .EmptyFieldErr}}style="border-color: red"{{end}}></label></div>
            <div><input type="submit" value="Submit"></div>
        </form>
    </p>    
</div>
{{ end }}